.tabList {
    margin-bottom: 5px;
}
.tabList > a {
    position: relative;
    top: 5px;
    font-family: courier;
    text-decoration: none;

    padding: 10px;
    margin-left: 25px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom: 0;
}

.tabList >  a.active {
    font-weight: bold;
}

.pageContainer {
    border-radius: 10px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pageContainer > li {
    padding-left: 5px;
    padding-right: 5px;
}

span.tagline:not(:empty)::before {
    content: " - ";
}

.pageContainer > li > span.info {
    margin-left: 5px;
    font-size: small;
    opacity: 0.4;
}

.pageContainer > li:hover > span.info {
    opacity: 1;
}

.tabList > a, .pageContainer {
    border: 1px solid #eeeeee;
}

.tablList > a.active, .pageContainer {
    background: #eeeeee;
}

.tabList > a, .tabList > a:visited {
    color: black;
}

@media(prefers-color-scheme: dark) {

    .tabList > a, .pageContainer {
        border: 1px solid #555;
    }
    
    .tabList > a.active, .pageContainer {
        background: #555;
    }
    
    .tabList > a, .tabList > a:visited {
        color: white;
    }
}