:root {
    color-scheme: light;

    --foreground: #000;
    --background: #fff;
    --focus: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --focus: #c2ee00;
        --foreground: #fff;
        --background: rgb(18, 18, 18)
    }
}

html, body {
    color: var(--foreground);
    background: var(--background);
}


a, a:visited {
    color: var(--focus);
}

.cat {
    opacity: 0;
}

.cat:hover, a.cat:active {
    opacity: 1;
}